<h1>[{{ title }}] 글 작성</h1>

<div>
    <form name="boardForm" method="post" action="/write" >
        <div>
            <label>제목</label>
            <input type="text" name="title" placeholder="제목을 입력해 주세요" value="" />
        </div>

        <div>
            <label>이름</label>
            <input type="text" name="writer" placeholder="이름을 입력해주세요" value="" />
        </div>

        <div>
            <label>비밀번호</label>
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" value="" />
        </div>

        <div>
            <label>본문을 입력하세요.</label>
            <textarea placeholder="본문" name="content" cols="50" rows="10"></textarea>
            <br />

            <div>
                <button type="submit">저장</button>
                <button type="button" onclick="location.href='/'">취소</button>
            </div>
        </div>

    </form>
</div>